@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,700;1,400&display=swap');

.calculator {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  display: block;
  width: 450px;
  height: 720px;
  background-color: #001E34;
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 5px;
}

.display  {
  position: relative;
  width: 90%;
  display: block;
  flex-direction: column;
  background-color: wheat;
  height: 160px;
  margin: auto;
  top: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.display__sum {
  position: relative;
  word-wrap: break-word;
  width: 90%;
  bottom: 25px;
  overflow: hidden;
  left: 15px;
  color: gray;
  font-size: 2rem;
}

.display__operator {
  position: absolute;
  left: 5px;
  bottom: 50px;
  font-size: 2rem;
  color: gray;
}

.display__input {
  position: absolute;
  top: 30px;
  right: 10px;
  font-size: 3rem;
}

.buttons {
  font-size: 3rem;
  display: block;
  color: wheat;
  width: 85%;
  margin: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  user-select: none;
  background-color: #134a72;
}

.button:hover {
  background-color: #296791;
}
.button:active {
  color: rgb(55, 186, 219);
}

.buttons__operators {
  display: flex;
  position: relative;
  top: 50px;
  justify-content: space-between;
  color: #FFA800;
}

.button_operator:hover {
  color: #ffbe3c
}

.numbers {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 8px;
  top: 10px;
  left: -40px;
  color: white;
}

.equal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 383px;
  font-size: 6rem;
  color: white;
  position: relative;
  width: 90px;
  background-color: #FFA800;
  bottom: 422px;
  left: 293px;
  user-select: none;
}

.equal-button:hover {
  box-shadow: 10px 5px 100px#78a2cc;
}
.equal-button:active {
  background-color: red;
}